
usr/lib/enigma2/python/Plugins/Extensions/SimpleZOOMPanel/Centrum/Tools/fca2.sh
usr/lib/enigma2/python/Plugins/Extensions/SimpleZOOMPanel/Centrum/Tools/FCA_old.sh
usr/lib/enigma2/python/Plugins/Extensions/SimpleZOOMPanel/plugin-PY2-PY3.py
